<html>
    <head>
        <meta charset="utf-8">
        <title>详情页面</title>
        <style>
            .all{
              width: 100%;
              height: 100%
            }
            .data_image{
                margin-top: 50px;
                margin-left: 150px;
                height: 500px;
                width: 350px;
                float: left;
            }
            .data_information{
                margin-top: 150px;
                margin-left: 250px;
                width: 1000px;
                float: left;
            }
            .data_information li{
                list-style: none;
                width: 1000px;
                height: 50px;
                line-height: 50px;
                font-size: 28px;
                color: gold;
            }
            .data_information p{
                list-style: none;
                width: 1000px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                font-size: 23px;
                color: gold;
            }
            .data_comment{
                width: 1000px;
                font-size: 16px;
            }
        </style>
    </head>
    <body>
        <div>
            <div class="all">
            <div class="data_image"><img src="<%=data[0].image%>" class="data_images"></div>
            <div class="data_information">
                <li>书名：<%=data[0]. name%></li>
                <li>作者：<%=data[0]. auther%></li>
                <li>星评：<%=data[0]. gaden%></li>
                <li>文件大小：<%=data[0]. size%>M</li>
                <p>评论</p>
                <div class="data_comment"><%=data[0]. introduce%></div>
            </div>
            </div>
        </div>
    </body>
</html>